.layout {
  display: grid;
  grid-auto-columns: minmax(0, 1fr);
  grid-auto-flow: column;
  height: 100%;

  .column {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 300px;
    overflow-x: hidden;

    span {
      opacity: 0.9;
      position: relative;
    }

    &:nth-child(2) {
      font-size: 200px;
      background-image: url("../../../../public/static/cover.svg");
      background-position: center;
      background-size: cover;
      mix-blend-mode: normal;

      span {
        mix-blend-mode: darken;
        color: var(--clr-brown-100);
        opacity: 1;
      }
    }

    &:nth-child(2n) {
      align-items: flex-end;
    }

    &:nth-child(3) {
      align-items: center;
      flex-direction: column;

      h5 {
        font-size: 1rem;
        line-height: 168%;
        letter-spacing: 0.15em;
        font-weight: 100;
        max-width: 50%;
      }
    }

    &:last-child {
      border-left: 1px solid var(--clr-brown-300);
    }

  }

}